.header {
    background-color: black;
}


.header nav > ul {
    display: flex;
    align-items: center;
}

.header nav > ul > li > a {
    text-decoration: none;
}

.active-item {
    background-color: #99B8BF;
}